<div style="display: flex; justify-content: end; margin-right: 20px;">
  <button style="margin: 10px;" class="btn-info px-2 py-1">
    <a href="/register">
      <strong style="color: white">Registrarse</strong>
    </a>
  </button>
</div>
<h3 class="mt-10 text-center">Login de Usuarios</h3>
<div id="containerForm" class="mx-auto" style="width: 20%; margin-top:50px;">
  <form method="POST" action="/sessions/login">
    <div class="form-group">
      <label class="alert-info" style="padding:3px">Usuario</label>
      <input type="text" class="form-control" name="email" placeholder="Ingresar tu mail" />
    </div>
    <div class="form-group">
      <label class="alert-info" style="padding:3px">Contraseña</label>
      <input type="password" class="form-control" name="password" placeholder="Ingresar Contraseña" />
    </div>
    <div class="mx-auto" style="width: 80%; display: flex; justify-content: space-around">
      <button type="submit" class="btn-info px-4 py-2"><strong>Login</strong></button>
      <button class="btn-info px-4 py-2"><strong>
          <a style="color: white" href="/relogin">Olvidé mi Contraseña</a>
        </strong></button>
    </div>
  </form>
</div>